<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= trip.tripName %> Campground</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- BOOSTRAP CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/style.css">

    <!-- BOOTSTRAP SCRIPT -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous" defer></script>
  </head>
  <body>

    <h1><%= trip.tripName.toUpperCase() %></h1>

    <a class="btn btn-dark" href="/welcome">Back</a>
    <a class="btn btn-dark" href="/logout">logout</a>

    <!-- Navigation between DETAILS, BACKPACK< CAMPGROUND -->
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" href="/trip/details/<%= trip.id %>">Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/trip/backpack/<%= trip.id %>">Backpack</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/trip/campground/<%= trip.id %>">Campground</a>
      </li>
    </ul>

    <h2>Campground Items (comunity items)</h2>
    <hr>

    <!-- ADMIN ONLY - Add Item -->
    <% if(trip.role === 'admin'){ %>
      <div class="add-item-container">
          <form class="add-item" action="/addItem/campground/<%= trip.id %>" method="post">
              <input type="text" name="gearName" placeholder="Add a community item.">
              <input class="btn btn-success" type="submit" value="Add+">
            </form>
      </div>
      <% } %>

    <!-- DISPLAY ITEMS -->
    <% for(let i = 0; i < gear.length; i++) { %>
      <div class="individual-item-display">
        <h4><%= gear[i].gearName.toUpperCase() %></h4>
        <p>Trip: <%= trip.id %></p>
        <p>Packer: <%= gear[i].packer_id %></p>
        <p>Packer Name: <%= gear[i].packerName %></p>
        <p>Type: <%= gear[i].type %></p>
        <% if(gear[i].status === 'unpacked'){ %>
          <p class="<%= gear[i].status %>">Status: <%= gear[i].status %></p><br><br>
          <a class="btn btn-dark btn-sm" href="/packCommunity/<%= trip.id %>/<%= gear[i].id %>/<%= packer.id %>">Click to pack.</a>
        <% } else { %>
          <p class="<%= gear[i].status %>">Status: <%= gear[i].status %> by <%= gear[i].packerName %></p><br><br>
          <a class="btn btn-dark btn-sm" href="/unpackCommunity/<%= trip.id %>/<%= gear[i].id %>/<%= gear[i].packer_id %>">Click to unpack.</a>
        <% } %>

        <!-- ADMIN ONLY - Delete Item -->
        <% if(trip.role === 'admin'){ %>
          <a class="btn btn-danger" href="/deleteCommunityItem/<%= trip.id %>/<%= gear[i].id %>">Remove <%= gear[i].gearName.toLowerCase() %> from list.</a>
        <% } %>
      </div>
    <% } %>

  </body>
</html>
