<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Backpack - Edit Trip</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- BOOSTRAP CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/style.css">

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Ruda|Skranji" rel="stylesheet">

    <!-- BOOTSTRAP SCRIPT -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous" defer></script>
  </head>
<<<<<<< HEAD
  <body>
<div class="container center_div">
  <div class="row">
    <div class="col-md-10 col-md-offset-2">
        <h1>Edit Trip</h1>
        <hr>
=======
  <body class="lake-background-image">

      <!-- NAVIGATION -->
      <nav class="navbar navbar-dark bg-dark fixed-top navbar">
        <h1 class="text-white fredericka-font"><a class="remove-blue" href="/">BACKPACK</a></h1>
        <form class="form-inline">
          <a class="btn btn-outline-success float-right ruda-font" href="/trip/details/<%= trip.id %>">Back</a>&nbsp
          <a class="btn btn-outline-danger ruda-font float-right" href="/logout">Logout</a>&nbsp  
        </form>
      </nav>
      
      <div class="container">
>>>>>>> 9de334535014343437d73f04f1a328c86e51c081

        <div class="row">
          <div class="col-md-12">
              <h1 class="ruda-font text-center bold">Edit Trip</h1>
              <hr class="style-seven">
          </div>
        </div>

<<<<<<< HEAD
    <br><br>
    <% tripsResults.forEach(trip => { %>
      <h3 class="text-center"><%= trip.tripName%></h3>
      <form action="/updateTrip/<%= trip.id %>"class="text-center" style="background-color:#2EB2E6" method="post">
      <div class="flex" style=“display:flex; justify-content:center; margin: 20px auto; max-width: 80%; border: 1px solid black”>
      <div class="col-md-12">
      <h5 class="text-center">Trip Name:</h5>
        <input type="text" name="tripName" value="<%= trip.tripName %>" placeholder="Trip Name">
      <h5 class="text-center">Date:</h5>
        <input type="date" name="startDate" value="<%= startDate %>">
        <input type="date" name="endDate" value="<%= endDate %>">
      </div>

      <div class="col-md-12">
        <h5 class="text-center">Location:</h5>
        <input type="text" name="location" class="text-center" value="<%= trip.location %>" placeholder="Location">
        <h5>Description</h5>
        <textarea rows="4" cols="50" name="description"><%= trip.description %></textarea>
      </div>
      <div class="col-md-12">
          <input type="submit" value="Update Trip" class="btn btn-primary" style="margin:20px auto;"></input>
        </form>
      </div>
    </div>
    <% }) %>

    <hr>
    <h5>Attending:</h5>
    <% packer_tripResults.forEach(pack_trip => { %>
      <% if(pack_trip.packer_id !== userID){ %>
        <div class="col-md-3" style="background-color:#888685">
          <h5><%= pack_trip.packerName %></h5>
          <form action="/remove/<%= pack_trip.packer_id %>/<%= tripsResults[0].id %>" method="get">
            <button type="submit" class="btn btn-primary" style="margin:20px auto;">Remove</button>
          </form>
        </div>
      <% } else { %>
        <div class="col-md-3" style="background-color:#AFACAB">
          <h5><%= pack_trip.packerName %> is the trip host.</h5><br>
        </div>
      <% } %>
    <% }) %>
  </div>
  </div>
</div>
=======

        <div class="row">
          <div class="col-md-6 d-flex justify-content-center">
            <div class="card mycard-form">
                <form class="align-self-center" action="/updateTrip/<%= trip.id %>" method="post">
                  <label class="form-label" for="tripName">Trip Name:</label><br>
                  <input class="form-input" type="text" name="tripName" value="<%= trip.tripName %>"><br>
                  <label class="form-label" for="location">Location:</label><br>
                  <input class="form-input" type="text" name="location" value="<%= trip.location %>"><br>
                  <label class="form-label" for="description">Description:</label><br>
                  <textarea class="form-input" name="description" cols="20" rows="5"><%= trip.description %></textarea><br>
                  <label class="form-label" for="startDate">Start Date:</label><br>
                  <input class="form-input" type="date" name="startDate" value="<%= startDate %>"><br>
                  <label class="form-label" for="endDate">End Date:</label><br>
                  <input class="form-input" type="date" name="endDate" value="<%= endDate %>"><br>
                  <div class="d-flex justify-content-center">
                      <input class="btn btn-success ruda-font form-button" type="submit" value="Edit Trip">
                  </div>
                </form>
            </div>
          </div>
          <div class="col-md-6 d-flex justify-content-center">
              <div class="card mycard-form">
                  <h3 class="ruda-font">Who's Going:</h3>
                  <% packer_tripResults.forEach(pack_trip => { %>
                    <% if(pack_trip.packer_id === userID){ %>
                      <hr>
                      <h5 class="ruda-font"><%= pack_trip.packerName %> is the trip host.</h5>
                    <% } %>
                  <% }) %>
                  <% packer_tripResults.forEach(pack_trip => { %>
                    <% if(pack_trip.packer_id !== userID){ %>
                      <hr>
                      <h5 class="ruda-font"><%= pack_trip.packerName %></h5>
                      <form action="/remove/<%= pack_trip.packer_id %>/<%= trip.id %>" method="get">
                        <button type="submit" class="btn btn-danger btn-sm ruda-font">Remove</button>
                      </form>
                    <% } %>
                  <% }) %>
                  <hr>
                  <br>
                  <div class="d-flex justify-content-center">
                      <a class="btn btn-success ruda-font form-button" href="/trip/details/<%= trip.id %>">Return</a>
                  </div>
              </div>
          </div>

        </div>    

      </div>

>>>>>>> 9de334535014343437d73f04f1a328c86e51c081
  </body>
</html>
